{% extends "home/base.html" %}

{% load static %}


{% block title %}
Homepage
{% endblock title %}


{% block header %}

	<link rel="stylesheet" type="text/css" href="{% static 'home/todo.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'home/bg.css' %}" />
	<link href='https://fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css'>
	<style>
		html, body {
			height: 100%;
			width: 100%;
		}

		body {
			background-image: url("{% static 'home/bg.jpg' %}");
			background-color: white;
			background-size: 100% 100%;
			background-position: center;
			background-attachment: fixed;
			background-repeat: no-repeat;
		}

		[v-cloak] {
			display: none;
		}
	</style>

{% endblock header %}


{% block content %}

	{% if user.is_authenticated %}

		<div class="jumbotron jumbotron-fluid" style="background: none; ">
			<center>
				<div style="margin-top: 10vh;">
					<h1 style="display: inline; font-weight: 200; font-size: 3.5rem;"> Hi </h1>&nbsp
					<h1 class="ml1">
						<span class="text-wrapper">
							<span class="line line1"></span>
							<span class="letters">{{ user.username }}</span>
							<span class="line line2"></span>
						</span>
					</h1>
				</div>
			</center>
		</div>

		<div id="authenticated_app" style="margin-left: 3rem; margin-top: -3rem;">
			<div id="todo-app">
				<todo username='{{ user.username }}'></todo>
			</div>

			<div id="show-meetings-app">
				<show-meetings csrf="{{ csrf_token }}"></show-meetings>
			</div>

			<div id="pending-requests" v-bind:hidden="!(has_pending_requests)">
				<a href="{% url 'my_requests' %}">
					You have pending requests
				</a>
			</div>
		</div>

		<style>
			#pending-requests {
				position: absolute;
				background-color: #404065;
				right: 3rem;
				width: 15rem;
				top: 5rem;
				color: white;
				border-radius: 10px;
				padding: 1rem;
			}

			#pending-requests a {
				text-decoration: none;
				color: white;
			}

			#pending-requests a:hover {
				color: rgb(200, 200, 220);
				font-weight: bolder;
			}

			#todo-app {
				position: absolute;
				left: 3rem;
				bottom: 1rem;
				width: 25rem;
			}

			#show-meetings-app {
				position: absolute;
				right: 3rem;
				bottom: 3rem;
				width: 25rem;
			}

			#show-meetings-body {
				height: 46vh !important;
				background-color: rgba(255, 255, 255, 1);
				box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.2);
			}

			#show-meetings-header {
				background: none !important;
			}

			#show-meetings-header font {
				font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
				font-size: 40px;
				font-weight: 100;
				text-align: center;
				color: #404065;
				-webkit-text-rendering: optimizeLegibility;
				-moz-text-rendering: optimizeLegibility;
				text-rendering: optimizeLegibility;
			}
		</style>


	{% else %}

		<style>
			.stat_box {
				background-color: rgba(255, 255, 255, 0.4);
				padding: 5px 20px;
				cursor: default !important;
			}

			#visitor-app td :hover > .stat_box {
				background-color: rgba(255, 255, 255, 0.8);
				transform: translateY(-4px);
			}

			/* Scroll effect - start */
			.scroll-container {
				height: 91vh;
				overflow-y: scroll;
				scroll-snap-type: y mandatory;
			}

			section {
				height: 91vh;
				scroll-snap-align: center;
			}

			/* Other styles */
			section {
				padding-top: 1rem;
				/* display: flex; */
				/* align-items: center; */
				/* justify-content: center; */
			}
			/* Scroll effect - end */
		</style>

		<main class="scroll-container" style="overflow-x: hidden;">
			<section>
				<center>
					<div style="margin-top: 8vh;">
						<div class="container">
							<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/8e/Association_for_Computing_Machinery_%28ACM%29_logo.svg/1024px-Association_for_Computing_Machinery_%28ACM%29_logo.svg.png"
								style="height: 20vh;">
							<h1 class="display-2">Research Mentoring Platform</h1>
							<br />
							<!-- <p class="lead">A place to learn and grow!</p> -->
						</div>

						<h1 class="ml1">
							<span class="text-wrapper">
								<span class="line line1"></span>
								<span class="letters"
									style="font-size: 2rem; margin-top: 0; word-spacing: 1rem; letter-spacing: 0.5rem;">
									A place to learn and grow!
								</span>
								<span class="line line2"></span>
							</span>
						</h1>
					</div>
				</center>
			
				<div id="visitor-app" style="margin-top: 130px; margin-bottom: 0;">
					<table style="width: 100vw; ">
						<tr>
							<td v-for="field in platform_fields">
								<center>
								<div class="btn stat_box">
										<h3>[[ field['value'] ]]</h3>
										[[ field['info'] ]]
									</td>
								</center>
							</div>
						</tr>
					</table>
				</div>
				<!-- <div class="m-5">
					<center>
						<small>
							<strong>
								By registering you agree to the
								
							</strong>
						</small>
					</center>
				</div> -->
			</section>

			<section style="display: flex; align-items: center;">
				<div style="padding: 3rem; background-color: rgba(50, 100, 150, 0.3); font-size: larger;">
					ACM India is committed to improving research in Computing in India. Through this platform, it aims to provide mentorship
					to PhD students as well as junior and less experienced faculty who may need some mentorship for their research. It also
					aims to provide mentorship to BTech and MTech students for their thesis work, if it is a research thesis. We hope to continue expanding this list and include
					more experts, including from industry and outside India.
					<br/><br/>
					
					The names of mentees is kept confidential - only the mentor knows the name of the mentee, and his/her registration.
					<br/><br/>
					
					Research mentoring is a process in which the mentor helps the mentee over a period of time to help improve the quality
					of research of the mentee. The mentor-mentee relationship is therefore expected to last for a reasonable period, though
					one-time mentoring help is also sometimes desirable, and is available. Please see the 
					<a href="#" data-toggle="modal" data-target="#tncModal">
						note regarding the mentorship
					</a>
					process and your commitment.
					<br/><br/>
					
					If you are interested in seeking mentorship help, please signup.
					<br/><br/>
					
					If you are interested in providing mentorship for research, please sign up - your request will be sent to the
					administration, and when approved, your profile will appear in the mentor page.
				</div>

				
			</section>

			<!-- Terms and Conditions Modal -->
			<div class="modal fade" id="tncModal" tabindex="-1" role="dialog" aria-labelledby="tncModalLabel"
				aria-hidden="true">
				<div class="modal-dialog" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title" id="tncModalLabel">Terms and Conditions</h5>
							<button type="button" class="close" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>
						
						<div class="modal-body">
							<ul>
								<li>
									Relationship with a mentor is for your research project - please keep the interaction limited to research related issues (and keep personal, administrative, issues with your advisor, etc out.)
								</li>
								<li>
									The mentee is expected to drive the mentor-mentee relationship and ensure that the interactions are valuable and useful. For this, be clear about what you want to discuss in each meeting. It is also your responsibility to fill the summary of the meeting, and the action points that emerge from it.
								</li>
								<li>
									You are fully responsible for what ideas you use (or not use) - the mentor has absolutely no responsibility about whether the ideas pan out or not, their effectiveness, etc or the impact it may have on your research/thesis.
								</li>
								<li>
									Mentors are giving you their valuable time and sharing their experience. Please respect it and use it properly. While you have the right to use or not use any ideas/suggestions, it is expected that any advice given by the mentor will be taken seriously and follow up actions agreed will be acted upon.
								</li>
							</ul>
						</div>
						
						<div class="modal-footer">
							<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
						</div>
					</div>
				</div>
			</div>

		</main>

	{% endif %}

{% endblock content %}


{% block javascript %}

	{% if user.is_authenticated %}

		<script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
		<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
		<script src="{% static 'home/bg.js' %}"></script>
		<script src="{% static 'home/todo_app.js' %}"></script>
		<script src="{% static 'mentor_mentee/show_meeting.js' %}"></script>

		<script>
			const app = new Vue({
				delimiters: ["[[", "]]"],

				data() {
					return {
						has_pending_requests: false,
					};
				},

				components: {
					'todo': ToDoComponent,
					"show-meetings": ShowMeeting,
				},

				created() {
					this.check_for_pending_requests();
				},

				methods: {
					check_for_pending_requests() {
						const request_url = "/api/has_pending_requests/";
	
						axios.get(request_url)
						.then(response => {
							this.has_pending_requests = response.data.has_pending_requests;
						})
						.catch(error => {
							console.log("[ERROR]");
							console.log(error);
						});
					}
				}
			});

			app.$mount('#authenticated_app');

		</script>


	{% else %}


		<script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
		<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
		<script src="{% static 'home/bg.js' %}"></script>

		<script>
			const app = new Vue({
				delimiters: ["[[", "]]"],

				data() {
					return {
						platform_fields: {
							'n_mentors': {
								'info': 'Registered mentors',
								'value': '',
							},

							'n_mentees': {
								'info': 'Registered mentees',
								'value': '',
							},

							'n_meetings': {
								'info': 'Meetings conducted',
								'value': '',
							},

							'n_mentorship_areas': {
								'info': 'Available mentorship areas',
								'value': '',
							},

							'n_milestones_reached': {
								'info': 'Milestones reached',
								'value': '',
							},
						}
					};
				},

				created() {
					this.get_platform_stats();
				},

				methods: {
					get_platform_stats() {
						let requested_fields = {};
						for (let field in this.platform_fields) {
							requested_fields[field] = '';
						}
	
						const request_url = "/api/get_platform_statistics/";
						axios.get(request_url, {
							params: requested_fields
						})
						.then(response => {
							for (let field in this.platform_fields) {
								this.platform_fields[field]['value'] = response.data[field];
							}
							console.log(this.platform_fields);
						})
						.catch(error => {
							console.log("[ERROR]");
							console.log(error);
						});
					},
				}
			});

			app.$mount('#visitor-app');

		</script>

	{% endif %}

{% endblock javascript %}