{% extends "home/base.html" %}
{% load static %}


{% block title %}
My Mentee
{% endblock title %}

{% block header %}
<link href="{% static 'mentor_mentee/chats.css' %}" rel="stylesheet" />
{% endblock header %}

{% block content %}

<center>
	<div id="chat-window" style="margin-top: 3rem;">
		<chat-window receiver="{{ mentee }}" sender="{{ user.username }}" csrf="{{ csrf_token }}"/>
	</div>
</center>

{% endblock content %}

{% block javascript %}
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="{% static 'mentor_mentee/chats.js' %}"></script>

<script>
	const app = new Vue({
		delimiters: ["[[", "]]"],
		components: {
			"chat-window": ChatWindow,
		},
	});

	app.$mount("#chat-window");
</script>

{% endblock javascript %}