{% extends "home/base.html" %}
{% load static %}


{% block title %}
My Mentee
{% endblock title %}

{% block header %}
<link href="{% static 'mentor_mentee/chats.css' %}" rel="stylesheet" />

<style>
	#chatbox {
		position: absolute;
		bottom: 0;
		right: 1rem;
		margin-bottom: 0;
		width: 30vw;
	}

	#meeting-table {
		margin-left: 1rem;
		margin-top: 0;
		padding-top: 0;
		width: 26rem;
	}
</style>

{% endblock header %}


{% block content %}
<audio id="myAudio">
	<source src="{% static 'mentor_mentee/send_message.ogg' %}" type="audio/ogg">
</audio>

<center>
	<div id="app" style="margin-top: 1rem;">
		<table style="width: 98vw;" style="margin-left: 3rem;">
			<tbody>
				<tr>
					<td id="meeting-table">
						<show-meeting guest_name="{{ mentee }}"></show-meeting>
						<schedule-meeting guest_name="{{ mentee }}" csrf="{{ csrf_token }}"></schedule-meeting>
						<br/>
					</td>
					<td>
					</td>
				</tr>
				<tr>
					<td id="meeting-table">
						<show-meeting-summary guest_name="{{ mentee }}"></show-meeting-summary>
						<add-meeting-summary guest_name="{{ mentee }}" csrf="{{ csrf_token }}"></add-meeting-summary>
						<br/>
					</td>
					<td>
					</td>
				</tr>
			</tbody>
		</table>

		<div id="chatbox" style="margin-bottom: 1rem;">
			<chat-window receiver="{{ mentee }}" sender="{{ user.username }}" csrf="{{ csrf_token }}"></chat-window>
		</div>
	</div>
</center>

{% endblock content %}


{% block javascript %}
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="{% static 'mentor_mentee/chats.js' %}"></script>
<script src="{% static 'mentor_mentee/show_meeting.js' %}"></script>
<script src="{% static 'mentor_mentee/schedule_meeting.js' %}"></script>
<script src="{% static 'mentor_mentee/display_summary.js' %}"></script>
<script src="{% static 'mentor_mentee/show_meeting_summary.js' %}"></script>
<script src="{% static 'mentor_mentee/add_meeting_summary.js' %}"></script>

<script>
	const app = new Vue({
		delimiters: ["[[", "]]"],
		components: {
			"chat-window": ChatWindow,
			"show-meeting": ShowMeeting,
			"schedule-meeting": ScheduleMeeting,
			"show-meeting-summary": ShowMeetingSummary,
			"add-meeting-summary": AddMeetingSummary
		},
	});

	app.$mount("#app");
</script>

{% endblock javascript %}
