{% extends "home/base.html" %}
{% load crispy_forms_tags %}


{% block title %}
Change password
{% endblock title %}


{% block content %}

<div class="container" style="margin-top: 10vh;">
	<div class="row justify-content-center">
		<div class="col-5">
			<center>
				<h1 class="display-4">Change password</h1>
			</center>
			<br />

			<form method="POST" action="{% url 'change_password' %}">
				{% csrf_token %}

				{{ form|crispy }}

				<br />
				<center>
					<input type="submit" class="btn btn-success col-6"></input>
				</center>
			</form>
		</div>
	</div>
</div>

{% endblock content %}
