{% extends "home/base.html" %}
{% load crispy_forms_tags %}


{% block title %}
Register
{% endblock title %}


{% block content %}

<div class="container" style="margin-top: 5vh;">
	<div class="row justify-content-center">
		<div class="col-5">
			<center>
				<h1 class="display-3">Be a Mentee</h1>
			</center>
			<br />

			<form method="POST" action="{% url 'register_mentee' %}">
				{% csrf_token %}
				
				{{ form|crispy }}
				
				<div class="pt-3">
					<center>
						<small>
							<strong>
								By registering you agree to the
								<a href="#" data-toggle="modal" data-target="#tncModal">
									Terms & Conditions
								</a>.
							</strong>
						</small>
					</center>
				</div>

				<br/>

				<center>
					<input type="submit" class="btn btn-success col-6" value="Register"></input>
				</center>
			</form>

			<div class="pt-3">
				<small class="text-muted">
					Already Have An Account? <a class="ml-2" href="{% url 'login' %}">Login</a>
				</small>
			</div>
			
			<!-- Terms and Conditions Modal -->
			<div class="modal fade" id="tncModal" tabindex="-1" role="dialog" aria-labelledby="tncModalLabel"
				aria-hidden="true">
				<div class="modal-dialog" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title" id="tncModalLabel">Terms and Conditions</h5>
							<button type="button" class="close" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>
						
						<div class="modal-body">
							<ul>
								<li>
									Relationship with a mentor is for your research project - pls keep the interaction limited to research related issues (and keep personal, administrative, issues with your advisor, etc out.)
								</li>
								<li>
									The mentee is expected to drive the mentor-mentee relationship and ensure that the interactions are valuable and useful. For this, be clear about what you want to discuss in each meeting. It is also your responsibility to fill the summary of the meeting, and the action points that emerge from it.
								</li>
								<li>
									You are fully responsible for what ideas you use (or not use) - the mentor has absolutely no responsibility about whether the ideas pan out or not, their effectiveness, etc or the impact it may have on your research/thesis
								</li>
								<li>
									Mentors are giving you their valuable time and sharing their experience. Please respect it and use it properly. While you have the right to use or not use any ideas/suggestions, it is expected that any advice given by the mentor will be taken seriously and follow up actions agreed will be acted upon.
								</li>
							</ul>
						</div>
						
						<div class="modal-footer">
							<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>
</div>

{% endblock content %}
