{% extends "home/base.html" %}
{% load crispy_forms_tags %}
{% load static %}


{% block title %}
Chat
{% endblock title %}

{% block header %}
<link href="{% static 'mentor_mentee/chats.css' %}" rel="stylesheet" />

<style>
	.list-group .active {
		background-color: #404065 !important;
		border: none !important;

	}
</style>

{% endblock header %}


{% block content %}

<audio id="myAudio">
	<source src="{% static 'mentor_mentee/send_message.ogg' %}" type="audio/ogg">
</audio>

<center style="margin-top: 5vh; margin-bottom: 5vh;">
	<h1 class="display-3">
		My Chats
	</h1>
</center>

<div style="margin-left: auto; margin-right: auto; width: 80vw;">
	<div id="vue-chat" >
		<chats-common 
			csrf="{{ csrf_token }}"
			male_dp="{% static 'users/male.jpg' %}"
			female_dp="{% static 'users/female.jpg' %}"
			neutral_dp="{% static 'users/neutral.jpg' %}"
		>
		</chats-common>

	</div>
</div>

{% endblock content %}


{% block javascript %}
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="{% static 'mentor_mentee/chats.js' %}"></script>
<script src="{% static 'users/vue_components/chats_common.js' %}"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>

{# <script src="{% static 'vue-advanced-chat/dist/vue-advanced-chat.min.js' %}"></script> #}

<script>
const app = new Vue({
	delimiters: ["[[", "]]"],
	components: {
		"chats-common": ChatsCommon,
	},
});
	
app.$mount("#vue-chat");
</script>

{% endblock javascript %}
