{% extends "home/base.html" %}
{% load crispy_forms_tags %}


{% block title %}
Edit Profile
{% endblock title %}


{% block content %}

<div class="container" style="margin-top: 5vh;">
	<div class="row justify-content-center">
		<div class="col-5">
			<center>
				<h1 class="display-3">Edit Profile</h1>
			</center>
			<br />

			<form method="POST" action="{% url 'edit_profile' %}">
				{% csrf_token %}

				{% if user.account.is_mentor %}
					{{ areas_form|crispy }}
				{% endif %}

				{{ details_form|crispy }}

				<center>
					<input type="submit" class="btn btn-success col-3" value="Save"></input>
				</center>
			</form>
		</div>
	</div>
</div>

{% endblock content %}