{% extends "home/base.html" %}
{% load static %}


{% block title %}
My Mentors
{% endblock title %}


{% block content %}
<div class="container" style="margin-top: 10vh;">
	<div class="row justify-content-center">
		<div class="col-md-6">
			<center>
				<h1 class="display-3">
					My Mentors
				</h1>
			</center>
			<br />

			<div id="vue-my-mentors">
				<my-mentors />
			</div>
		</div>
	</div>
</div>
{% endblock content %}


{% block javascript %}
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="{% static 'users/vue_components/show_mentors.js' %}"></script>

<script>
	const app = new Vue({
		delimiters: ["[[", "]]"],
		components: {
			"my-mentors": ShowMentors,
		},
	});

	app.$mount("#vue-my-mentors");
</script>

{% endblock javascript %}
