{% extends "home/base.html" %}
{% load crispy_forms_tags %}


{% block title %}
Register
{% endblock title %}


{% block content %}

<div class="container" style="margin-top: 5vh;">
	<div class="row justify-content-center">
		<div class="col-5">
			<center>
				<h1 class="display-3">Be a Mentor</h1>
			</center>
			<br />

			<form method="POST" action="{% url 'register_mentor' %}">
				{% csrf_token %}

				{{ form|crispy }}

				<center>
					<input type="submit" class="btn btn-success col-6"></input>
				</center>
			</form>

			<div class="pt-3">
				<small class="text-muted">
					Already Have An Account? <a class="ml-2" href="{% url 'login' %}">Login</a>
				</small>
			</div>
		</div>
	</div>
</div>

{% endblock content %}