{% extends "home/base.html" %}
{% load crispy_forms_tags %}
{% load static %}


{% block title %}
Find users
{% endblock title %}


{% block content %}

<div class="container" style="margin-top: 10vh;">
	<div class="row justify-content-center">
		<div class="col-6">
			<center>
				<h1 class="display-3">Search for users</h1>
			</center>
			<br />

			<div id="vue-search-users">
				<search-users />
			</div>
		</div>
	</div>
</div>

{% endblock content %}


{% block javascript %}
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>

<script>
	const SearchUsers = {
		delimiters: ["[[", "]]"],
		template: `
			<div>
				<div class="input-group mb-3">
					<input type="text" class="form-control" maxlength="25" v-model="searchQuery" v-on:keyup="searchUsers">
					<div class="input-group-append">
						<button class="btn btn-outline-secondary" type="button" v-on:click="searchUsers">Search</button>
					</div>
				</div>

				<ul class="list-group">
					<a href="#" v-for="result in searchResults" v-bind:key="result.id">
						<li class="list-group-item">
							[[ result.username ]]
							<span class="text-muted" v-if="result.is_mentor">
								<i>@ Mentor</i>
							</span>
							<span class="text-muted" v-else>
								<i>@ Mentee</i>
							</span>
							<div align="right" v-if="result.status === 1">
								<button v-on:click="sendRequest(result.username)"> Request Mentorship </button>
							</div>
							<div align="right" v-if="result.status === 2">
								<button> Pending Request </button>
							</div>
							<div align="right" v-if="result.status === 3">
								<button> Mentee </button>
							</div>
							<div align="right" v-if="result.status === 4">
								<button> Mentor </button>
							</div>
						</li>
					</a>
				</ul>
			</div>
		`,
		data() {
			return {
				searchQuery: "",
				searchResults: [],
			};
		},
		methods: {
			searchUsers() {
				if (this.searchQuery.length === 0) {
					this.searchResults = [];
					return ;
				}

				let request_url = "http://127.0.0.1:8000/api/search_users";

				axios.get(request_url, {
					'params': {
						'pattern': this.searchQuery
					}
				})
				.then(response => {
					console.log("[SUCCESS]");
					if (response.data.length > 30) {
						console.log("Too many results: " + response.data.length);
						console.log("Showing only top 30");
						this.searchResults = response.data.slice(0, 30);
					}
					else {
						this.searchResults = response.data;
					}
				})
				.catch(error => {
					console.log("[ERROR]");
					console.log(error);
					this.searchResults = [];
				});
			},
			sendRequest(username) {
				let request_url = "http://127.0.0.1:8000/api/send_mentorship_request";

				axios.get(request_url, {
					'params': {
						'requestee': username
					}
				})
				.then(response => {
					console.log("[SUCCESS]");
					for (result of this.searchResults) {
						if (result.username === username) {
							result.status = 2;
							break;
						}
					}
				})
				.catch(error => {
					console.log("[ERROR]");
					console.log(error);
				});
			}
		}
	};

	const app = new Vue({
		delimiters: ["[[", "]]"],
		components: {
			"search-users": SearchUsers,
		},
	});

	app.$mount("#vue-search-users");
</script>

{% endblock javascript %}
